* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #550000ab;
  font-family: 'Poppins', sans-serif; }

header a {
  text-decoration: none;
  color: #fdfafaec;
  padding: 1rem;
  padding-bottom: .5rem; }
  header a:hover {
    color: #011818;
    background-color: #59546C;
    border-radius: 1rem; }
  header a h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center; }

header h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center; }

header nav {
  padding: 1rem;
  background-color: #B399A2; }
  header nav ul {
    list-style: none;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    header nav ul li {
      display: flex;
      align-items: center; }

header #foto1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-left: 30%;
  padding-right: 30%;
  height: 30rem; }

main p {
  color: #fdfafaec;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem; }

main .container {
  margin-bottom: 3rem; }
  main .container .row .col .foto-inicio {
    width: 26rem; }

main form {
  width: 24rem;
  margin: auto;
  padding: 20px;
  background-color: #B399A2;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 3rem; }
  main form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; }

main #about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  main #about #foto-home {
    display: flex;
    width: 25rem; }

main #encabezado {
  font-size: 1.5rem; }

main .row {
  background-color: #969292cc;
  margin-bottom: 10px;
  padding: 10px; }

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px; }

textarea {
  height: 150px; }

input[type="submit"] {
  background-color: #4CAF50;
  color: #fdfafaec;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; }

input[type="submit"]:hover {
  background-color: #2E8B57; }

footer {
  background-color: #B399A2;
  width: 100%;
  height: 5rem; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    footer ul li {
      padding-top: 1rem;
      color: #59546C;
      font-size: x-large; }

@media (max-width: 900px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .row .col {
      width: 90%; } }
