*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: 0.5px solid currentColor;
}
body{
    background-color: #500;
    width: 100%;
    height: auto;
    display: inline-block;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
nav{
    margin-top: 0.5rem;
    width: 24rem;
    display: flex;
   /* align-self: flex-start;
    padding: 10rem;*/
    justify-content: space-around;
    position: sticky;
    /*padding-bottom: 1rem;*/
    height: rem;
    background-color: bisque;
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: sticky;
}
a{
    display: flex;
    text-decoration: none;
    color: black;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    /*height: 55rem;*/
}
footer{
    /*align-self: baseline;*/
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: aliceblue;
    text-decoration: none;
}
h1, h2{
    font-family: 'Poppins', sans-serif;
    color: rgba(173, 171, 171, 0.925);
}
h1{
    font-size: 4rem;
}
.pie{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: flex-end;
    color: #500;
}
#foto1{
    margin-top: 1rem;
    width: 68rem;
}

.tab{
    margin-left: 1rem;
}
 
/*home*/

#home{
    display: flex;
    justify-content: center;
}
.foto-inicio{
    width: 34rem;
}
#foto-home{
    height: 24rem;
}

/* Galeria */

.foto-galeria{
    width: 34rem;
    height: auto;
}
#galeria{
    width: 100vh;
}
#galeria-titulos{
    display: flex;
    text-align: center;
}
section{
    width: auto;
    display: flex;

}
aside{
    margin: 1rem;
}
.descripcion{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: flex-end;
    color: white;
}


/*about */
#about{
    width: 40rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 2rem;
}

/*formulario contacto*/
form {
    width: 24rem;
    margin: auto;
    padding: 20px;
    background-color: #964436;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
textarea {
    height: 150px;
} 
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #2E8B57;
}